body {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0px;
}

.header{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #1f2937;
    padding: 20px;
}

.header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}
.headerlogo{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}
.headerlinks {
    display: flex;
    gap: 20px;
}

a {
    list-style: none;
    color:#e5e7eb ;
    text-decoration: none;
}

.header2 {
    display: flex;
    gap: 70px;
    justify-content:space-between;
    align-items: center;
}

img {
    height: 200px;
    width: 600px;
}
.textandbutton {
    display: flex;
    flex-direction: column;
}

.herotext {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
    text-align: justify;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #3882f6;
    margin: 20px;
    border: 1px solid ;
    padding: 8px 16px;
  border-radius: 8px;
}
 
.middle2{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-style: light italic;
    color: #1f2937;
    padding:50px;
}

.quote {  display: flex;
    font-weight: bold;
  
    justify-content: right;
}

footer {
    display: flex;
    background-color: #1f2937;
    color: #e5e7eb;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 0px;
}

.middle {
    display: flex;
    flex-direction: row;
    padding: 60px;
}

.card {
    border: 5px solid #3882f6;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 9px;
    padding: 16px;
    margin: 16px;
    width: 150px;
    height: 100px;
}

.two {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.text {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.three {
    display: flex;
    align-items: center;
    justify-content: center;
}

.four {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
}